@import './../../styles/variables.scss';


.review-component {
    .review-container {
        display: flex;
        margin: 20px 0;
    }

    .review-message,
    .rating-section {
        flex: 1;
    }

    .review-message {
        textarea {
            resize: none;
            padding: 12px;
            height: 7rem;
            width: 100%;
            max-width: 30rem;
            border-radius: 10px;
            border: 1px solid #000;
        }
    }

    .rating-section {
        input[type='radio'] {
            display: none;
        }

        .star {
            cursor: pointer;
            transition: color 200ms;
            margin-right: 0.5rem;
        }

        svg {
            font-size: 3rem;

            &:hover {
                color: $green-color-hover;
            }
        }
    }

    .add-review-button {
        display: flex;
        align-items: center;
        margin: 2.5rem 2rem 0 0;

        button {
            background-color: $green-color;
            color: $black-color;
            border-radius: 3rem;
            border: none;
            padding: 0.5rem 2rem;
            width: 100%;
            max-width: 15rem;
            font-size: 1.5rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: $green-color-hover;
            }
        }
    }

    @include breakpoint-small {

        display: block;

        .review-message {
            width: 100%;
        }

        .rating-section {
            margin-left: 0;
            width: 100%;
        }

    }
}