@import "../../styles/variables.scss";

.registerContainer {
    @include form-container;

    .signUp {
        margin: 10px 0;

        a {
            color: #000;
            font-weight: bold;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: #727272;
            }
        }
    }
}