@import './../../styles//variables.scss';


.user-information {

    .name-email-country {

        button {
            background-color: $green-color;
            color: $black-color;
            border: none;
            border-radius: 3rem;
            padding: 0.5rem 2rem;
            width: 100%;
            max-width: 10rem;
            font-size: 1rem;
            font-weight: bold;
            cursor: pointer;

            &:hover {
                background-color: $green-color-hover;
            }

        }

    }

}