/* Variables for the Website */

/* Colors */
$title-color: white;
$green-color: #1db954;
$green-color-hover: #1fce5c;
$black-color: #191414;

/* Mixin's for breakpoints */
@mixin breakpoint($min-width) {
  @media only screen and (min-width: $min-width) {
    @content;
  }
}

@mixin breakpoint-x-small {
  @include breakpoint(500px) {
    @content;
  }
}

@mixin breakpoint-small {
  @include breakpoint(545px) {
    @content;
  }
}

@mixin breakpoint-medium {
  @include breakpoint(726px) {
    @content;
  }
}

@mixin breakpoint-large {
  @include breakpoint(819px) {
    @content;
  }
}

@mixin breakpoint-x-large {
  @include breakpoint(992px) {
    @content;
  }
}

@mixin breakpoint-xx-large {
  @include breakpoint(1200px) {
    @content;
  }
}

@mixin form-container {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/images/blobbg.svg");
  background-repeat: no-repeat;
  background-position: cover;

  .card {
    background-color: #fff;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .2);
    padding: 30px 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .backLink {
      width: 100%;
      margin-bottom: -62px;
      margin-top: 15px;
      font-size: 32px;
      color: #000;
      transition: .3s;

      &:hover {
        color: #727272;
      }
    }

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;

      input {
        padding: 12px 20px;
        border: 1px solid #e4e4e4;
        background-color: #fdfdfd;
        border-radius: 5px;
        margin: 7px 0;
        width: 250px;
        font-size: 16px;
      }

      button {
        margin: 10px;
        width: 288px;
        padding: 15px;
        margin-top: 30px;
        border: none;
        border-radius: 50px;
        color: #fff;
        background-color: #000;
        cursor: pointer;
        transition: .3s;

        &:hover {
          transform: translateY(-3px);
        }
      }
    }
  }

  .logo {
    width: 50px;
    margin: 15px 0;
  }

  .title {
    text-transform: uppercase;
  }

  .sub {
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 20px;
  }
}