@import './../../styles/variables.scss';

div.main {
    margin: 60px 0;
    margin-right: $screen-margin-right;
    margin-left: $screen-margin-left;



    svg {
        color: $green-color;
    }

    .album-section {

        display: flex;

        .img {
            padding: 15px;
            display: flex;
            flex-direction: column;
            width: 25%;

            img {
                width: 100%;
                border-radius: 5px;
            }

            a {
                color: #000;
                text-decoration: none;
                text-align: center;
            }
        }

        .info {
            padding: 15px;
            width: 75%;
            display: flex;
            flex-direction: column;

            span {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                width: 100%;
                border-bottom: 3px solid black;

                h1,
                p {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }

            ul {
                list-style: none;
            }
        }
    }
}