@import './../../styles/variables.scss';

div.main {
    margin: 60px 0;
    margin-right: $screen-margin-right;
    margin-left: $screen-margin-left;

    .backLink {
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        font-size: 22px;
        font-weight: 600;
    }

    .album-section {

        display: flex;
        margin: 15px 0;

        .img {
            padding: 15px;
            display: flex;
            flex-direction: column;
            width: 30%;

            img {
                width: 100%;
                border-radius: 5px;
            }

            a {
                color: #000;
                text-decoration: none;
                text-align: center;
            }

            span {
                display: flex;
                justify-content: space-between;

                a {
                    margin: 5px;
                    padding: 5px 15px;
                    border-radius: 5px;
                    background-color: #000;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    transition: .3s;

                    svg {
                        margin-left: 8px;
                    }

                    &:hover {
                        background-color: #292929;
                    }
                }
            }
        }

        .time {
            margin-right: 10px;
        }

        .info {
            padding: 15px;
            width: 70%;
            display: flex;
            flex-direction: column;

            span {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                width: 100%;
                border-bottom: 3px solid black;

                h1,
                p {
                    font-size: 24px;
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }

            .tracks {
                list-style: none;
                height: 360px;
                overflow-y: scroll;
                width: 100%;

                li {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    color: #292929;
                    margin: 10px 0;

                    .trackNumber {
                        font-size: 1.2rem;
                        font-weight: bold;
                        width: 15px;
                    }

                    .titleArtists {
                        width: 85%;
                        display: flex;
                        flex-direction: column;

                        p {
                            font-weight: bold;
                            font-size: 1.2rem;
                        }

                        .artists {
                            display: flex;
                            align-items: center;
                            flex-direction: row;

                            .explicit {
                                p {
                                    font-size: .6rem;
                                    line-height: .6rem;
                                    padding: 3px 5px 3px 5px;
                                    border-radius: 3px;
                                    background-color: #9a9a9a;
                                    color: #fff;
                                    margin-right: 3px;
                                }
                            }

                            .name {
                                font-size: 1rem;
                                line-height: 1rem;
                            }

                            .space {
                                margin-left: 4px;
                            }
                        }


                    }


                }


            }

            /* width */
            ::-webkit-scrollbar {
                width: 6px;
            }

            /* Track */
            ::-webkit-scrollbar-track {
                background: #f1f1f1;
                margin: 10px 0;
                border-radius: 6px;
            }

            /* Handle */
            ::-webkit-scrollbar-thumb {
                background: #474747;
                border-radius: 3px;
            }

            /* Handle on hover */
            ::-webkit-scrollbar-thumb:hover {
                background: #000000;
            }
        }
    }

    .reviewSection {
        h2 {
            margin: 12px 0;
            border-bottom: 3px solid #000;
        }

        .reviewContainer {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
        }
    }

}