@import './../../styles/variables.scss';

.album {
    text-decoration: none;
    color: black;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6px;
    border-radius: 8px;
    transition: .3s;
    width: 125px;

    &:hover {
        background-color: #f3f3f3;
    }

    h3,
    p {
        font-size: 1rem;
        font-weight: 600;
        line-height: 1rem;
    }

    h3 {
        margin: 5px 0;
        height: 42px;
    }

    p {
        color: #646464;
    }

    img {
        width: 125px;
        height: 125px;
        background-color: #474747;
        border-radius: 5px;
    }
}

@include breakpoint-medium {
    .album {
        width: 150px;
        padding: 8px;

        h3 {
            height: 30px;
        }

        img {
            width: 150px;
            height: 150px;
        }
    }
}

@include breakpoint-large {
    .album {
        width: 200px;
        padding: 10px;

        img {
            width: 200px;
            height: 200px;
        }
    }
}