.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        text-transform: uppercase;
        border-bottom: 3px solid black;
        width: 87%;
        margin: 20px 0;
    }

    .album-list {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}