@import './../../styles/variables.scss';

.footer-main {

    width: auto;
    padding: 2rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    flex-direction: column;
    color: white;
    background-color: #000;
    gap: 10px;


    .shoutout-logo {


        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include breakpoint-small {
            font-size: 1rem;
        }

        @include breakpoint-medium {
            font-size: 1.5rem;
        }

        .audify-logo {

            padding-bottom: 0.3rem;

        }

        .shoutout {

            border-top: solid 2px white;
            padding: 0.3rem 1rem;
            display: flex;
            align-items: center;

            svg {

                margin-right: 0.4rem;
                font-size: 1.8rem;
                color: $green-color;

            }

        }

    }

    .audify-logo {

        display: flex;
        align-items: center;
        font-size: 3rem;
        line-height: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;

        img {
            width: 60px;
        }

        p {
            padding-bottom: 8px;
            z-index: 5;
            margin-left: -5px;
            letter-spacing: 2px;
        }
    }


    .links-section {
        margin: 40px 0;

        div {
            font-size: 1.5rem;
        }

        a {

            display: block;
            text-align: start;
            text-decoration: none;
            padding-top: 0.8rem;
            color: white;

        }

    }


    .copyright {

        font-size: 1.2rem;
        text-align: start;

    }

}

@include breakpoint-medium {
    .footer-main {
        flex-direction: row;

        .links-section {
            margin: 0;
        }
    }
}