.accountContainer {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        border-bottom: 3px solid #000;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 1.75rem;
    }

    .userDetails {
        margin: 30px 0 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .account {
            display: flex;
            align-items: center;

            svg {
                font-size: 80px;
                margin-right: 10px;
            }

            div {

                h1 {
                    font-size: 2.25rem;
                    text-transform: capitalize;
                }

                .username {
                    font-size: 1.25rem;
                    font-weight: 600;
                }

                .email {
                    font-size: 1.25rem;
                    font-weight: 600;
                }
            }
        }

        .reviews {
            font-size: 1.5rem;
            font-weight: 600;

            strong {
                font-size: 2rem;
            }
        }

    }

    .reviewContainer {
        display: flex;
        flex-wrap: wrap;
    }

    .logout {
        background-color: #1DB954;
        color: #fff;
        font-weight: bold;
        font-size: 1.25rem;
        padding: 6px 18px;
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        width: 10%;
        transition: .3s;
    }

    .logout:hover {
        background-color: #1aaa4c;
    }


}